/* 
COLORS

#365367 - slate
#FFBAA2 - peach
#F9F4E6 - beige
#F494AB - pink

*/

html, body {
    margin: 0;
    padding: 0;
}

h1#title {
    float: left;
    position: relative;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    font-size: xxx-large;
    margin-left: 2vw;
    margin-bottom: 4vh;
    margin-top: 5.5vh;
    color: #FFBAA2;
}

h2 {
    text-align: center;
    font-size: xx-large;
    margin-top: 0;
    color: #F494AB;
    font-family: "Archivo", sans-serif;
}

h3 {
    text-align: left;
    font-weight: 900;
    font-size: large;
    margin-top: 40px;
    color: #365367;
    font-family: "Archivo", sans-serif;
}

h4 {
    text-align: left;
    font-size: medium;
    /*margin-top: 0;*/
    color: #F494AB;
    font-family: "Archivo", sans-serif;
}

body {
    width: 100%;
    background-color: #243744;
}

p {
    /*margin-top: 6vh;*/
    /*text-align: center;*/
    font-family: "Open Sans", sans-serif;
    color: #575A6C;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.8em;
    margin-bottom: 0;
}

p.centered {
    text-align: center;
}

div.box {
    width: 50%;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding: 10vh 4vw;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 #1b2933, 0 6px 20px 0 #1b2933;
    background-color: #fff;
}

nav {
    background-color: #365367;
    display: inline-block;
    list-style-type: none;
    width: 100%;
    height: 16vh;
}

ul {
    list-style-type: none;
    margin-top: -3vh;
    margin-right: 3.5vw;
}

li {
    float: right;
}

li a {
    display: block;
    margin-left: 2.5em;
    margin-top: -1.8vh;
    margin-bottom: 0.5vh;
    overflow: none;
    text-decoration: none;
    font-weight: 500;
    font-size: larger;
    color:#F9F4E6;
    text-decoration: none;
    background-image: linear-gradient(#F9F4E6, #F9F4E6);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 0.5px;
    transition: background-size .5s;
    padding-bottom: 0.5vh;
    font-family: 'Open Sans', sans-serif;
}

li a#unclickable {
    background-image: none;
    cursor: default;
    font-size: x-large;
    margin-left: 1.5vw;
    margin-right: -1.5vw;

}

li a:hover, li a:focus {
    background-size: 100% 0.5px;
}

img {
    border-top: solid 1px gray;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

img#logo {
    border: none;
    width: 7%;
    margin-left: 0;
    margin-top: 3vh;
    margin-bottom: 0;
    margin-right: 0;
}

form, select, input {
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}

form {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 10vh;
    margin-bottom: 1vh;
    padding-bottom: 2vh;
}

select {
    border: none;
    background-color: #eee;
    color: #365367;
    font-family: 'Open Sans', sans-serif;
    margin-left: -1vw;
}

select:focus  {
    outline: none;
}

input {
    border: none;
    font-family: 'Open Sans', sans-serif;
    background-color: #365367;
    color: white;
    margin-left: -1.5vw;
    border-radius: 20px;
}

input:hover {
    cursor: pointer;
    background-color: #1b2933;
    transition: all 0.5s ease;
}