<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Archivo:500,600,700,800,900|Open+Sans:300,400,600"
        rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <nav class="navbar">
        <h1 id="title">PollutionPlot</h1>
        <img id='logo' src='static/Logo.png'>
        <ul>
            <li><a class="navbar" href="{{ url_for('about') }}">about</a></li>
            <li><a class="navbar" id='unclickable'>•</a></li>
            <li><a class="navbar" href="{{ url_for('home')}}">home</a></li>
        </ul>
    </nav>
    <div class="box">
        <h2>Visualizing Connections Between Class and Air Quality</h2>
        <p class='centered'>While it is widely known that our world’s path towards climate catastrophe is a threat
            to all life on earth, the communities that are most vulnerable to these changes are
            often overlooked. That is why we have focused our tool, PollutionPlot, to draw attention
            to these inequities. Our team has created an interactive tool which allows you to see the air
            quality and median incomes placed side by side for most counties of a given state.</p>
        <form method='post' action='/home'>
            <label for="state">Select a state:</label>
            <select name="state" id="state">
                {% for state in states %}
                <option value="{{ state }}">{{state}}</option>
                {% endfor %}
            </select>
            <input type='submit' value='Go'>
        </form>
        <img src='/plot.png'>

        <h3>HOW TO READ THIS GRAPH</h3>

        <h4>What is AQI?</h4>
        <p>AQI is a measure from 0 - 500 that describes daily air quality. Lower AQI values occur
            on days with good air quality, and higher AQI values occur on days with bad air quality. </p>

        <h4>90th Percentile AQI</h4>
        <p>90th percentile AQI is effectively a measure of "how bad it gets" with regards to air quality in a given
            county. It is the 90th percentile value for AQI recorded in a county in 2019. We feel this is the best
            metric to lend
            insight into the correlation between class and air quality as it puts a quantitative value on the pollution
            residents face
            without bias towards extreme weather events.
        </p>

        <h4>Median Household Income</h4>
        <p>Collected by The United States Department of Agriculture in 2019.</p>
    </div>
</body>

</html>