<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Archivo:500,600,700,800,900|Open+Sans:300,400,600"
        rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <nav class="navbar">
        <h1 id="logo">Hackrice Project</h1>
        <ul>
            <li><a class="navbar" href="{{ url_for('about') }}">about</a></li>
            <li><a class="navbar" id='unclickable'>•</a></li>
            <li><a class="navbar" href="{{ url_for('home')}}">home</a></li>
        </ul>
    </nav>
    <div class="box">
        <h2>Working Title</h2>
        <p>Our team has created an interactive tool which allows you to see the air
            quality and median incomes placed side by side for all counties of a given state.</p>
        <form method='post' action='/home'>
            <label for="state">Select a state:</label>
            <select name="state" id="state">
                {% for state in states %}
                <option value="{{ state }}">{{state}}</option>
                {% endfor %}
            </select>
            <input type='submit' value='Go'>
        </form>
        <img src='/plot.png'>

        <h3>How to Read this Graph</h3>

        <h4>What is AQI?</h4>
        <p>AQI is a measure from 0 - 500 that describes daily air quality. Lower AQI values occur
            on days with good air quality, and higher AQI values occur on days with bad air quality. </p>

        <h4>90th Percentile AQI</h4>
        <p>Lorem ipsum dolor sit amet 2 :)</p>

        <h4>Median Household Income</h4>
        <p>Lorem ipsum dolor sit amet</p>
    </div>
</body>

</html>